@import helper._
@(pForm: Form[ProductUpdateForm])(implicit messages: Messages)
<!DOCTYPE html>

<html lang="en">
    <head>
        @header()
    </head>
    <body>
        <div class="container">
            @menu()

            @form(action = routes.ProductsController.saveProductAfterUpdate) {
                @inputText(pForm("id"), 'readonly -> "readonly", '_label -> "Id")
                @inputText(pForm("name"), '_label -> "Nazwa")
                @inputText(pForm("description"), '_label -> "Opis")
                @inputText(pForm("price"), 'type -> "number", '_label -> "Cena (PLN)")
                <input type="submit" class="btn btn-primary" value="Aktualizuj produkt">
            }
            <a href="/products">Powrót do listy produktów</a>
        </div>
    </body>
</html>