@main() {

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center teal-text text-lighten-2">SCALA Magazyn</h1>
                <div class="row center">
                    <h5 class="header col s12 light">System do zarządzania małym magazynem z elektroniką</h5>
                </div>
                <div class="row center">
                    <a href="/produkty" class="btn-large waves-effect waves-light teal lighten-1">Lista produktów</a>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="@routes.Assets.versioned("images/banner-warehouse.jpg")" alt="Unsplashed background img 1"></div>
    </div>


    <div class="container">
        <div class="section">

                <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">Błyskawiczna obsługa</h5>

                        <p class="light">
                            Staramy się aby realizacja wysyłki produktów z naszego magazynu była jak najszybsza. Nad jakością tego procesu czuwa grono doskonałych specjalistów, którzy dbają o Twoje dobro.
                        </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">Wieloletnie doświadczenie</h5>

                        <p class="light">Nasza firma działa na rynku już od 15 lat. Przez ten cały okres zbieraliśmy doświadczenie i masę pozytywnych opinii. O jakości naszej obsługi może świadczyć ogromna liczba referencji klientów.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Zaawansowana technologia</h5>

                        <p class="light">Nasz system posiada wdrożony nowoczesny, bezpieczny i wydajny system zarządzania magazynem a także umozliwia wystawianie faktur na życzenie klienta.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">"Najlepsza obsługa jaką w życiu widziałem, jestem bardzo zadowolony" - Bill Gates</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="@routes.Assets.versioned("images/warehouse2.png")" alt="Unsplashed background img 2"></div>
    </div>

}