@(products : Seq[models.Product])(implicit request: RequestHeader)

<!DOCTYPE html>

<html lang="en">
    <head>
        @header()
    </head>
    <body>
        <div class="container">
            @menu()
            <h1>Lista produktów</h1>
            @if(products.length > 0) {
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nazwa</th>
                            <th>Opis</th>
                            <th>Cena</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(product <- products) {
                        <tr>
                            <td>@product.id</td>
                            <td>@product.name</td>
                            <td>@product.description</td>
                            <td>@product.price PLN</td>
                        </tr>
                    }

                    </tbody>
                </table>
            }
            @if(products.length == 0){
                <h3 class="text-warning">Brak produktów w bazie! Dodaj nowe produkty, aby móc je wyświetlić.</h3>

            }
            <a href="/products/add"><button class="btn btn-success">Dodaj nowy produkt</button></a>
        </div>
    </body>
</html>