@(products : Seq[models.Product])(implicit request: RequestHeader)

@main() {
    <h1 class="header center teal-text text-lighten-2">Lista produktów</h1>

    <div class="container">
        <div class="section">


            <div class="row">
                <div class="col s12">

                    <table class="highlight">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nazwa produktu</th>
                                <th>Opis</th>
                                <th>Cena</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for((product, index) <- products.zipWithIndex){
                            <tr>
                                <td>@(index+1)</td>
                                <td>@product.name</td>
                                <td>@product.description</td>
                                <td>@product.price PLN</td>
                            </tr>
                        }
                        @if(products.length == 0){
                            <tr>
                                <td colspan="7">Brak produktów</td>
                            </tr>
                        }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

}